body{

background:url(food.jpg) fixed center no-repeat;
background-size:100%;
background-size: cover;
font-family: 'Courier New', Courier, monospace;
color:white;
overflow: hidden;

}
#container{
width:400px;
margin: 10% auto;
padding:50px;
background: rgba(1,1,1,0.8);
box-sizing: border-box;
border-radius:30px;
text-align:center;
-webkit-border-radius:30px;
-moz-border-radius:30px;
animation: 1s fadeIn;
}
h1{
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: solid 1px #ddd;
    font-weight: normal;
}
form{
text-align:center;
}
form input{
    padding:8px;
    margin : 25px auto;
    display: block;
    border-radius: 30px;
    border-color: transparent;
    transition: all 0.5s ease-out;
}
form input:hover{
    padding:8px;
    margin : 25px auto;
    display: block;
    border-radius: 30px;
    transform: scale(1.1);
    border-color: transparent;

}
form label{
display:block;
margin: 25px 0;
font-size: 20px;
}
form input[type="text"]{
    width:90px;
    font-size: 20px;
    text-align: center;

}
button{
    background:white;
    color:black;
    border-color: transparent;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 20px 30px;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    width:100%;
}
button:hover{
    background:gray;
    color:white;
}
button:active{
    position: relative;
    top:1px;
}


#totalTip{
    margin-top:40px;
    font-size: 50px;
}
#totalTip:before{
    font-size:30px;
    content:"Tip Amount";
    text-transform:uppercase;
    display:block;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
}
#totalTip sup{
top: 17px;
position: relative;
    font-size:50px;
}
#totalTip small{
    display:block;
    font-size:30px;
    text-transform:uppercase;
    letter-spacing: 5px;
    }
form select{
    margin : 25px auto;
    display: block;
    font-size: 15px;
    background-color: white;
text-decoration: none;
width: 200px;
-webkit-appearance: button;
height:35px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
   border-radius: 30px;
    border-color: transparent;
    transition: all 0.5s ease-out;
}
form select:hover{
   transform: scale(1.1);
}
 @keyframes fadeIn{
     from{
       opacity: 0;  
     }
     to{
opacity: 1;
     }
 }